.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    width: 3.5vw;
    font-weight: bold;
    font-size: 1.3vw;
    border: dashed gray .1vw;
    border-radius: .5vw;
    cursor: pointer;
    transition: .2s;
}

.main:hover {
    transform: translateY(-1vw);
    background: #3197BC;
    transition: .2s;
}