.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 4vw;
    height: 6vw;
    background: gray;
    border-radius: .5vw;
}

.main span {
    font-size: 1vw;
    font-weight: bold;
    color: gray;
    padding: .3vw;
}